<div class="container container-fluid pt-3">
  <div class="nav navbar navbar-light justify-content-between d-flex">
    <a href="/">
      <img
        class="logo navbar-brand"
        src="https://www.i-pic.info/i/kI2g196318.png"
      />
    </a>
  </div>
  <hr />
  <table class="table table-responsive table-strip text-center fw-bold">
    <thead>
      <tr>
        <th>Table Type</th>
        <th>A</th>
        <th>B</th>
        <th>C</th>
        <th>D</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Current Queue</td>
        <td>A132</td>
        <td>B008</td>
        <td>C123</td>
        <td>D002</td>
      </tr>
      <tr>
        <td>Waiting</td>
        <td>29</td>
        <td>0</td>
        <td>12</td>
        <td>11</td>
      </tr>
    </tbody>
  </table>
</div>
